.contDetalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .imgs{
        width: 50%;
        height: 90%;
        padding: 2% 4%;
        .imgMain{
            width: 100%;
            background-color: red;
            height: 400px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .imgsPrevs{
            width: 100%;
            height: 30%;
        }
    }
    .descriptionProduct{
     
        width: 50%;
        padding: 3%;
        overflow-y: scroll;
        height: 35rem;
    }
}